<div>  
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Defines navigation bar button -->
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IBM</a>
        </div>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <!-- Collects nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a href="#!/pagex"
                       data-target="#page1"
                       data-toggle="tab">
                        Page 1
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!/pagexx"
                       data-target="#page2"
                       data-toggle="tab">
                        Page 2
                        <span class="sr-only">(search)</span>
                    </a>
                </li>
            </ul>

        </div> 
        <!--/.navbar-collapse -->

    </div><!-- /.container-fluid -->


</nav>


    <h1>{{ctrl.header}}</h1>


    <form action="" ng-submit="ctrl.page1Submit()">

        
        <button type="button" class="btn btn-success">Submit</button>

    </form>


        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Summary / Status</a></li>
            <li role="presentation"><a href="#">Owners / Contacts</a></li>
            <li role="presentation"><a href="#">Products Affected</a></li>
        </ul>

    <ui-view></ui-view>

    <h3>{{ctrl.message}}</h3>

</div>